// out: ../main.css

@import "ace";
@import "classes";
@import "comboBox.less";
@import "filedrop-overlay";
@import "label";
@import "loading-bar";
@import "search-bar";
@import "status-bar";
@import "suggestions";
@import "toast";

@font-face {
    font-family: "Roboto";
    src: url("includes/roboto/Roboto-Regular.ttf") format("truetype");
}


.roboto {
    font-family: 'Roboto', sans-serif;
}

html, body{
    padding:0px;
    margin:0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html{
    box-sizing:border-box;
}

#main_window {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
