// out: ../main.css

@import "ace";
@import "classes";
@import "alert";
@import "comboBox";
@import "filedrop-overlay";
@import "history";
@import "ide-options";
@import "label";
@import "loading-bar";
@import "plugin-viewer";
@import "search-bar";
@import "status-bar";
@import "suggestions";
@import "toast";

@import "ide_themes/dark";

@font-face {
    font-family: "Roboto";
    src: url("includes/roboto/Roboto-Regular.ttf") format("truetype");
}


.roboto {
    font-family: 'Roboto', sans-serif;
}

html, body{
    padding:0px;
    margin:0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

html{
    box-sizing:border-box;
}

#main_window {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

*::-webkit-scrollbar-track
{
	opacity: none;
}

*::-webkit-scrollbar
{
    width: 10px;
	height: 10px;
	background-color: transparent;
}

*::-webkit-scrollbar-thumb
{
	background-color: #616161;
}
