.status-bar {
    .roboto();

    background-color: white;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 28px;
    padding: 0px;
    z-index: 80;

    .keycode {
        display: inline-block;
        margin: 4px;
        min-width: 70px;

        >.char {
            border-radius: 2px;
            background-color: #bdbdbd;
            height: 20px;
            min-width: 32px;
            display: inline-block;
            text-align: center;
            margin-right: 2px;
            padding: 0px 4px;
        }
    }
    
    .projects {
        .no-select();
        
        outline: none;
        border: none;
        border-bottom: solid 1px #9e9e9e;
        
        &:empty {
            opacity: 0;
            pointer-events: none;
        }
    }
}