.status-bar {
    .roboto();

    background-color: white;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 28px;
    padding: 0px;
    z-index: 80;

    .keycode {
        .no-select();

        display: inline-block;
        margin: 4px;

        >.char {
            border-radius: 2px;
            background-color: #bdbdbd;
            height: 20px;
            min-width: 32px;
            display: inline-block;
            text-align: center;
            margin-right: 2px;
            padding: 0px 4px;
        }
    }
}
