.suggestions {
    .box-shadow();
    .roboto();

    position: relative;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.23);
    /* height: 30px; */
    top: 4px;
    left: 0px;
    bottom: 0px;
    z-index: 90;
    background-color: white;
    border-radius: 2px;
    // padding: 10px;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    max-height: 500px;
    overflow-y: auto;

    transition: opacity 0.2s ease-in-out;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    .suggestion {
        .no-select();

        outline: none;
        padding: 6px;
        position: relative;

        transition: all 0.2s ease-in-out;

        &.highlighted, &:focus {
            outline: none;
            background-color: #cfd8dc;
        }

        &.high-priority {
            color: #512da8;
            
            >.full-path {
                margin-left: 10px;
                font-size: 12px;
                color: #9e9e9e;
            }
        }

        .remove-sugg {
            position: absolute;
            right: 4px;
            top: 4px;
            height: 23px;
            width: 23px;
            text-align: center;
            padding: 0px;
            font-size: 18px;
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
        }

        .options {
            color: #9e9e9e;
        }
    }
}
