#editor {
  position: absolute;
  top: 72px;
  right: 0;
  bottom: 28px;
  left: 0;
}
#editor.side-content-open {
  right: 50%;
}
.ace-chrome .ace-gutter {
  background: white !important;
}
.hidden {
  display: none;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.win-drag {
  -webkit-app-region: drag;
}
.win-nodrag {
  -webkit-app-region: no-drag;
}
.btn-circle {
  background-color: white;
  color: black;
  border: 1px solid black;
  height: 34px;
  width: 34px;
  border-radius: 100%;
  font-size: 18px;
  margin: 0px 4px;
  transition: all 0.2s ease-in-out;
}
.btn-circle:hover {
  color: white;
  cursor: pointer;
}
.btn-circle:focus {
  outline: none;
}
.box-shadow {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.23);
}
.alert {
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.23);
  position: relative;
  top: 0px;
  width: 400px;
  background-color: white;
  border: none;
  margin: auto;
  z-index: 85;
  border-radius: 2px;
  margin-top: -200px;
  opacity: 0;
  padding-top: 0.1px;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}
.alert.active {
  opacity: 1;
  margin-top: 45px;
  pointer-events: all;
}
.alert > .message {
  margin: 16px;
  font-size: 14px;
  word-wrap: break-word;
}
.alert > .btn-container {
  width: 100%;
  text-align: center;
}
.alert > .btn-container > button {
  font-size: 16px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 2px;
  padding: 5px 20px;
  margin: 5px;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.alert > .btn-container > button.active {
  opacity: 1;
  pointer-events: all;
}
.alert > .btn-container > button:hover {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.23);
}
.alert > .btn-container > button.btn-yes {
  background-color: #8bc34a;
}
.alert > .btn-container > button.btn-no {
  background-color: #ef5350;
}
.combo-box {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.combo-box .combo-box-option-selected {
  height: 30px;
  line-height: 30px;
}
.combo-box .combo-box-option-selected.white * {
  color: white;
}
.combo-box .combo-box-option-selected.black * {
  color: black;
}
.combo-box .combo-box-option-selected span {
  margin-left: 6px;
  text-transform: uppercase;
}
.combo-box .combo-box-option-container {
  position: absolute;
  top: 30px;
  z-index: 100;
  border: 1px solid black;
  border-radius: 2px;
  padding: 2px;
  background-color: white;
  visibility: hidden;
}
.combo-box .combo-box-option-container.active {
  visibility: visible;
}
.combo-box .combo-box-option-container .combo-box-option {
  outline: none;
  border: none;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 16px;
  background-color: transparent;
}
.filedrop-overlay {
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.75);
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}
.filedrop-overlay.inactive {
  background-color: rgba(0, 0, 0, 0);
}
.filedrop-overlay.inactive * {
  display: none !important;
}
.filedrop-overlay > .inner-border {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 10px;
  border: 5px dashed white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filedrop-overlay > .inner-border > .text-container {
  margin: 0;
}
.filedrop-overlay > .inner-border > .text-container > * {
  margin: 0px;
  color: white;
}
.filedrop-overlay > .inner-border > .text-container > .title {
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 10px;
}
.file-history {
  font-family: 'Roboto', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 37px;
  right: 0px;
  left: 0px;
  height: 37px;
  padding: 0px;
  padding-right: 50px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.file-history .clear-history {
  position: fixed;
  top: 40px;
  right: 6px;
  width: 20px;
  height: 20px;
  background: none;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  bottom: 10px;
  background-color: white;
  border-radius: 100%;
  z-index: 79;
  padding: 0px;
}
.file-history .file {
  line-height: 30px;
  padding: 5px;
  border: 1px solid black;
  position: relative;
  border-right: none;
  border-left: none;
  padding-left: 20px;
  font-size: 13px;
  background-color: white;
  cursor: pointer;
  bottom: -2px;
  transition: all 0.2s ease-in-out;
}
.file-history .file.is-open {
  font-weight: 900;
  text-decoration: underline;
}
.file-history .file.is-old {
  color: #ef5350;
}
.file-history .file:hover {
  background-color: #e0e0e0;
}
.file-history .file:hover::before {
  border-left: 17px solid #e0e0e0;
}
.file-history .file::before {
  border-left: 17px solid white;
  border-top: 13px solid transparent;
  border-bottom: 12px solid transparent;
  content: "";
  height: 0;
  right: -16px;
  position: absolute;
  top: 0px;
  width: 0;
  z-index: 75;
  transition: all 0.2s ease-in-out;
}
.file-history .file::after {
  border-left: 18px solid black;
  border-top: 14.5px solid transparent;
  border-bottom: 13px solid transparent;
  content: "";
  height: 0;
  right: -17px;
  position: absolute;
  top: -1px;
  width: 0;
  z-index: 70;
}
.ide-options {
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.23);
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -110%;
  width: 450px;
  z-index: 85;
  opacity: 0;
  pointer-events: none;
  background-color: white;
  transition: all 1s ease-in-out;
}
.ide-options.active {
  padding: 5px;
  right: 0px;
  opacity: 1;
  pointer-events: all;
}
.ide-options > .btn-close {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
}
.ide-options > h1 {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 28px;
}
.ide-options > .option-tabs {
  position: absolute;
  top: 44px;
  left: 0px;
  width: 30%;
  height: auto;
  border-right: 1px solid #e0e0e0;
}
.ide-options > .option-tabs > .option {
  display: block;
  width: 100%;
  padding: 10px 4px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.ide-options > .option-tabs > .option:hover {
  background-color: #e0e0e0;
}
.ide-options > .option-tabs > .option.selected {
  text-decoration: underline;
  font-weight: 700;
  border-right: 2px solid #757575;
}
.ide-options > .option-viewer {
  position: absolute;
  top: 44px;
  right: 0px;
  width: 70%;
  bottom: 0px;
  padding: 10px;
  box-sizing: border-box;
}
.ide-options > .option-viewer > .panel {
  display: none;
}
.ide-options > .option-viewer > .panel.active {
  display: block;
}
.ide-options > .option-viewer > .panel h3 {
  margin: 0px;
  margin-bottom: 10px;
}
.ide-options > .option-viewer > .panel .input-group {
  margin-bottom: 8px;
}
.ide-options > .option-viewer > .panel .input-group.select > span {
  margin-right: 10px;
}
.label {
  text-transform: uppercase;
  font-size: 12px;
  padding: 2px;
  border-radius: 2px;
  border-style: outset;
  border-width: 1px;
}
.label-red {
  background-color: red;
  border-color: red;
  color: white;
}
.label-orange {
  background-color: #ff5722;
  border-color: #ff5722;
  color: white;
}
.label-gray {
  background-color: #616161;
  border-color: #616161;
  color: white;
}
.loading-bar {
  position: fixed;
  top: 4px;
  left: 5px;
  right: 4px;
  height: 30px;
  text-align: center;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}
.loading-bar.active {
  opacity: 1;
}
.loading-bar > .bar1,
.loading-bar .bar2 {
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-color: white;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.loading-bar > .bar1 {
  animation-name: expandL;
}
.loading-bar > .bar2 {
  animation-name: expandR;
}
@keyframes expandL {
  0% {
    left: 50%;
    right: 50%;
  }
  50% {
    left: 0px;
    right: 50%;
  }
  100% {
    left: 0px;
    right: 100%;
  }
}
@keyframes expandR {
  0% {
    left: 50%;
    right: 50%;
  }
  50% {
    left: 50%;
    right: 0px;
  }
  100% {
    left: 100%;
    right: 0px;
  }
}
.plugin-viewer {
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.23);
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -110%;
  width: 300px;
  z-index: 85;
  opacity: 0;
  pointer-events: none;
  background-color: white;
  transition: all 1s ease-in-out;
}
.plugin-viewer.active {
  opacity: 1;
  pointer-events: all;
  padding: 5px;
  right: 0px;
}
.plugin-viewer > h3 {
  margin: 7px;
}
.plugin-viewer > .btn-close {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
}
.plugin-viewer > .actions > .btn-add {
  background-color: white;
  color: black;
  border: 1px solid black;
  height: 34px;
  width: 34px;
  border-radius: 100%;
  font-size: 18px;
  margin: 0px 4px;
  transition: all 0.2s ease-in-out;
}
.plugin-viewer > .actions > .btn-add:hover {
  color: white;
  cursor: pointer;
}
.plugin-viewer > .actions > .btn-add:focus {
  outline: none;
}
.plugin-viewer > .actions > .btn-add:hover {
  border-color: #8bc34a;
  background-color: #8bc34a;
  color: white;
}
.plugin-viewer > .list {
  position: absolute;
  bottom: 0px;
  top: 75px;
  left: 0px;
  right: 0px;
  padding: 10px;
}
.plugin-viewer > .list .plugin {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
  padding: 5px;
  height: 20px;
  position: relative;
  margin-bottom: 5px;
}
.plugin-viewer > .list .plugin.removed {
  pointer-events: none;
  color: #bdbdbd;
}
.plugin-viewer > .list .plugin > .plugin-actions {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
.plugin-viewer > .list .plugin > .plugin-actions > button {
  height: 100%;
  width: 30px;
  padding: 0px;
  color: black;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
}
.plugin-viewer > .list .plugin > .plugin-actions > button:hover {
  background-color: #e0e0e0;
}
.search-bar-container {
  height: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  padding: 4px;
  z-index: 80;
}
.search-bar-container *:not(i) {
  font-family: 'Roboto', sans-serif;
}
.search-bar-container .search-icon {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  right: 4px;
  left: 5px;
  height: 30px;
  border: none;
  outline: none;
  cursor: default;
  padding-left: 6px;
  border-radius: 5px;
  text-align: left;
  line-height: 30px;
  background-color: #2196f3;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  font-family: 'FontAwesome', Arial;
}
.search-bar-container .search-icon > option {
  font-family: 'FontAwesome', Arial;
}
.search-bar-container .search-icon > .mdi {
  position: absolute;
  top: 7px;
}
.search-bar-container .input-wrapper {
  position: absolute;
  height: 28px;
  top: 5px;
  left: 35px;
  right: 5px;
  bottom: 0px;
}
.search-bar-container .input-wrapper > input {
  width: 100%;
  height: 100%;
  padding: 0px 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
}
.search-bar-container .input-wrapper > input:focus {
  outline: none;
  border: none;
}
.status-bar {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 28px;
  padding: 0px;
  z-index: 80;
}
.status-bar .keycode {
  display: inline-block;
  margin: 4px;
  min-width: 70px;
}
.status-bar .keycode > .char {
  border-radius: 2px;
  background-color: #bdbdbd;
  height: 20px;
  min-width: 32px;
  display: inline-block;
  text-align: center;
  margin-right: 6px;
  padding: 0px 4px;
}
.status-bar .projects {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 5px;
  outline: none;
  border: none;
  border-bottom: solid 1px #9e9e9e;
}
.status-bar .projects:empty {
  opacity: 0;
  pointer-events: none;
}
.suggestions {
  font-family: 'Roboto', sans-serif;
  position: relative;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.23);
  /* height: 30px; */
  top: 4px;
  left: 0px;
  bottom: 0px;
  z-index: 90;
  background-color: white;
  border-radius: 2px;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  max-height: 500px;
  overflow-y: auto;
  transition: opacity 0.2s ease-in-out;
}
.suggestions.active {
  opacity: 1;
  pointer-events: all;
}
.suggestions .suggestion {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  padding: 6px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.suggestions .suggestion.highlighted,
.suggestions .suggestion:focus {
  outline: none;
  background-color: #cfd8dc;
}
.suggestions .suggestion.high-priority {
  color: #512da8;
}
.suggestions .suggestion.high-priority > .full-path {
  margin-left: 10px;
  font-size: 12px;
  color: #9e9e9e;
}
.suggestions .suggestion .remove-sugg {
  position: absolute;
  right: 4px;
  top: 4px;
  height: 23px;
  width: 23px;
  text-align: center;
  padding: 0px;
  font-size: 18px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.suggestions .suggestion .options {
  color: #9e9e9e;
}
.toast-container {
  position: fixed;
  bottom: 25px;
  right: 0px;
  width: 100%;
  z-index: 90;
  text-align: right;
  pointer-events: none;
}
.toast-container .toast {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.23);
  font-family: 'Roboto', sans-serif;
  border-radius: 2px;
  background-color: white;
  padding: 5px;
  margin: 5px;
  display: inline-block;
}
.toast-container .toast > .btn-close {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  pointer-events: all;
  padding: 3px;
  font-size: 15px;
}
.dragBox {
  width: 90px;
  height: 90px;
  padding: 0.5em;
}
#main_window[theme=dark] {
  background-color: #424242;
}
#main_window[theme=dark] *::-webkit-scrollbar-thumb {
  background-color: #616161;
}
#main_window[theme=dark] input[type=text] {
  background-color: #212121;
  color: #f5f5f5;
}
#main_window[theme=dark] .loading-bar > .bar1,
#main_window[theme=dark] .loading-bar .bar2 {
  background-color: #424242;
}
#main_window[theme=dark] .side-content {
  background-color: white;
}
#main_window[theme=dark] .suggestions .suggestion {
  background-color: #616161;
  color: #bdbdbd;
}
#main_window[theme=dark] .suggestions .suggestion.highlighted {
  background-color: #9e9e9e;
  color: #424242;
}
#main_window[theme=dark] .suggestions .suggestion.highlighted .options {
  color: #bdbdbd;
}
#main_window[theme=dark] .suggestions .suggestion.high-priority {
  color: #b2ebf2;
}
#main_window[theme=dark] .suggestions .suggestion.high-priority .full-path {
  color: #bdbdbd;
}
#main_window[theme=dark] .suggestions .suggestion.high-priority.highlighted {
  background-color: #9e9e9e;
  color: #006064;
}
#main_window[theme=dark] .suggestions .suggestion.high-priority.highlighted .full-path {
  color: #212121;
}
#main_window[theme=dark] .status-bar {
  background-color: #424242;
}
#main_window[theme=dark] .status-bar .keycode {
  color: #e0e0e0;
}
#main_window[theme=dark] .status-bar .keycode .char {
  color: #424242;
}
#main_window[theme=dark] .status-bar .projects {
  background-color: #616161;
  color: #e0e0e0;
  border-bottom: none;
}
#main_window[theme=dark] .file-history .file {
  border-color: #9e9e9e;
  background-color: #212121;
  color: #9e9e9e;
}
#main_window[theme=dark] .file-history .file.is-open {
  color: #e0e0e0;
}
#main_window[theme=dark] .file-history .file.is-old {
  color: #ef5350;
}
#main_window[theme=dark] .file-history .file:hover {
  background-color: #424242;
  color: #bdbdbd;
}
#main_window[theme=dark] .file-history .file:hover::before {
  border-left-color: #424242;
}
#main_window[theme=dark] .file-history .file::before {
  border-left-color: #212121;
}
#main_window[theme=dark] .file-history .file::after {
  border-left-color: #9e9e9e;
}
#main_window[theme=dark] .file-history .clear-history {
  color: initial;
  background-color: #bdbdbd;
}
#main_window[theme=dark] .plugin-viewer {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.8);
  background-color: #bdbdbd;
}
#main_window[theme=dark] .plugin-viewer .plugin {
  background-color: #757575;
  color: #eeeeee;
}
#main_window[theme=dark] .plugin-viewer .plugin .plugin-actions button {
  color: #eeeeee;
}
#main_window[theme=dark] .plugin-viewer .plugin .plugin-actions button:hover {
  background-color: #e0e0e0;
  color: #212121;
}
#main_window[theme=dark] .ide-options {
  background-color: #bdbdbd;
}
#main_window[theme=dark] .ide-options .option-tabs .option.selected {
  background-color: #e0e0e0;
}
#main_window[theme=dark] .toast-container .toast {
  background-color: #757575;
  color: #eeeeee;
}
#main_window[theme=dark] .toast-container .toast .btn-close {
  color: #eeeeee;
}
@font-face {
  font-family: "Roboto";
  src: url("includes/roboto/Roboto-Regular.ttf") format("truetype");
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
html {
  box-sizing: border-box;
}
#main_window {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
#main_window .side-content {
  position: absolute;
  top: 72px;
  left: 100%;
  right: -100%;
  bottom: 28px;
  pointer-events: none;
  opacity: 0;
  margin: 0px 6px;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}
#main_window .side-content.active {
  position: absolute;
  top: 72px;
  left: 50%;
  right: 0;
  bottom: 28px;
  pointer-events: all;
  opacity: 1;
  border: 1px solid #e0e0e0;
}
*::-webkit-scrollbar-track {
  opacity: none;
}
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
}
